{% extends 'base.html' %}
{% load i18n %}
{% block content %}
    {% load static  %}


                <style>

                div.vacancy {
                background-color: floralwhite;
                color: white;
                margin: 20px 0 20px 0;
                padding: 20px;
}

            </style>

    <!-- MAIN -->
      <!-- Content -->

         <h2> {% trans "Vacant Houses"|title %}</h2>

		{% for vacant in vacancies %}

			 <h3> <div class="vacancy">
                      <h3>{{ vacant.housetitle }}</h3>
                      <img src=" {% static 'img/house.png' %}" width="10" height="10"  alt="House" style="width:25%" align="center">
                      <h5>{{vacant.housedescription}}</h5>
                       <h6>Vacant Rooms:{{vacant.roomsvacant}}</h6>
                      <a class="button border-radius background-primary text-size-12 text-white text-strong" href="{% url 'sendbooking' %}">Book House</a>

                    </div>

                 </h3>




		{% endfor %}



{% endblock content  %}