{%load static%}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}House management system{% endblock %}</title>
	<!-- BootStrap CSS-->
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    	<link rel="stylesheet" href="{% static 'css/template-style.css' %}">

    <link rel="stylesheet" href="{% static 'owl-carousel/owl.carousel.css'%}">
    <link rel="stylesheet" href="{% static 'owl-carousel/owl.theme.css'%}">
	{%block customCSS%}

		<link rel="stylesheet" href="{% static 'basepagestatics/css/responsee.css' %}">
        <link rel="stylesheet" href="{% static 'basepagestatics/css/icons.css' %}">

	{%endblock customCSS%}
      <script type="text/javascript" src="{% static 'basepagestatics/js/jquery-1.8.3.min.js' %}"></script>
      <script type="text/javascript" src="{% static 'basepagestatics/js/jquery-ui.min.js'%}"></script>
	{%block Chart%}
{%endblock Chart%}
</head>
<body>
<!--section/page header-->
{%block navbar%}
 <header>
            <nav>
               <div class="line">
                  <div class="s-12 l-2">
                     <img class="s-5 l-12 center"src="{% static 'basepagestatics/img/logo.png' %}">
                  </div>
                  <div class="top-nav s-12 l-10 right">
                     <p class="nav-text">House management system Menu</p>
                     <ul class="right">
                        <li><a href="{% url 'index' %}">Home</a></li>
                        <li>
                           <a>Owner</a>
                           <ul>
                              <li><a>Login</a></li>
                              <li><a>News</a></li>
                           </ul>
                        </li>
                         <li>
                           <a>Staff</a>
                           <ul>
                              <li><a href="/admin/">Login</a></li>
                           </ul>
                        </li>
                        <li>
                           <a>Tenant</a>
                           <ul>
                              <li><a href="{% url 'tenant' %}">Login</a></li>
                              <li><a>Booking</a></li>
                               <li><a href="{% url 'tenant' %}">Tenant Portal</a></li>
                           </ul>
                        </li>
                         <li><a href="{% url 'vacancy' %}">Vacancy</a></li>
                         <li><a href="{% url 'contactus' %}">Contact</a></li>
                        <li><a>About us</a></li>
		                <li><a href="{% url 'logout' %}"></a></li>
                     </ul>
                  </div>
               </div>
            </nav>
         </header>
{%endblock navbar%}
<div class="jumbotron">
	{% block content %}

        <!--Content here-->

	{% endblock %}
</div>
{%block footer%}
	<hr/>
<footer>
<div class="container" > <a href="https://github.com/oronibrian"> Copyright © {{ today }}  DEV by:<h4> TechTenant</h4></a>
</div>
</footer>
{%endblock footer%}
{%block JavaScript%}
	<script src="{% static 'jQuery/js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'basepagestatics/js/responsee.js' %}"></script>

{%endblock%}
</body>
</html>
