{% load lineage %}
{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}House management system{% endblock %}</title>
	<!-- BootStrap CSS-->



    	<link rel="stylesheet" href="{% static 'css/template-style.css' %}">
    	<link rel="stylesheet" href="{% static 'css/usercreation.css' %}">


    <link rel="stylesheet" href="{% static 'owl-carousel/owl.carousel.css'%}">
    <link rel="stylesheet" href="{% static 'owl-carousel/owl.theme.css'%}">
	{%block customCSS%}

		<link rel="stylesheet" href="{% static 'basepagestatics/css/responsee.css' %}">
        <link rel="stylesheet" href="{% static 'basepagestatics/css/icons.css' %}">

	{%endblock customCSS%}
      <script type="text/javascript" src="{% static 'basepagestatics/js/jquery-1.8.3.min.js' %}"></script>
      <script type="text/javascript" src="{% static 'basepagestatics/js/jquery-ui.min.js'%}"></script>
	{%block Chart%}
{%endblock Chart%}
</head>
<body>
<!--section/page header-->
{%block navbar%}
 <header>
            <nav>
               <div class="line">
                  <div class="s-12 l-2">
                     <img class="s-5 "src="{% static 'basepagestatics/img/house-logo.png' %}" width="120" height="10">
                  </div>
                  <div class="top-nav s-12 l-10 right">
                     <p class="nav-text">House management system Menu</p>
                     <ul class="right">
                        <li class="active"><a href="{% url 'index' %}">Home</a></li>
                        <li>
                           <a>Owner</a>
                           <ul>
                              <li><a>Login</a></li>
                              <li><a>News</a></li>
                           </ul>
                        </li>
                         <li>
                           <a>Staff</a>
                           <ul>
                              <li><a href="{% url 'tenants' %}">Portal</a></li>
                           </ul>
                        </li>
                        <li>
                           <a>Tenant</a>
                           <ul>
                               <li><a href="{% url 'tenant' %}">Tenant Portal</a></li>
                           </ul>
                        </li>
                         <li><a href="{% url 'vacancy' %}">Vacancy</a></li>
                         <li><a href="{% url 'contactus' %}">Contact</a></li>
                        <li><a>About us</a></li>
		                <li><a href="/accounts/logout/">Logout</a></li>
                     </ul>
                  </div>
               </div>
            </nav>
         </header>
{%endblock navbar%}
<div class="panel panel-default">
	{% block content %}

        <!--Content here-->

	{% endblock %}
</div>
<hr/>
<footer>
<div class="container">
	{% trans "created by"|capfirst %} <a href="https://github.com/oronibrian">TechTenant</a>
</div>
</footer>
    <script type="text/javascript" src="{% static 'basepagestatics/js/responsee.js' %}"></script>

	<script src="{% static 'jQuery/js/jquery.min.js' %}"></script>

    <script src="{% static 'js/bootstrap.min.js' %}"></script>
{% block scripts %}{% endblock %}
</body>
</html>
