{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
    {{ today }}
      <article>
        <div class="section background-white">
          <div class="line">
            <div class="margin">

              <!-- Company Information -->
              <div class="s-12 m-12 l-6">
                <h2 class="text-uppercase text-strong margin-bottom-30">Building Information</h2>
                <div class="float-left"></div>
                <div class="margin-left-80 margin-bottom">
                  <h3 class="text-strong margin-bottom-0">Name: {{ companyname }}</h3>
                  <p>Address: {{ address }} <br>
                     Town: {{ town }}<br>

                  </p>
                </div>
                <div class="float-left">
                </div>
                <div class="margin-left-80 margin-bottom">
                  <h3 class="text-strong margin-bottom-0">E-mail</h3>
                  <p>{{ email }}<br></p>
                </div>
                <div class="float-left">
                </div>
                <div class="margin-left-80">
                  <h3 class="text-strong ">Phone Numbers</h3>
                    <p> staff: {{ contact }}<br>
                    <p>admin:{{ admincontact }}<br>
                    <p>Owner:{{ ownercontact }}<br>
                  </p>
                </div>
              </div>

              <!-- Contact Form -->
              <div class="s-12 m-10 l-6">
                <h2 class="text-uppercase text-strong margin-bottom-30">Contact Us</h2>

                <form class="customform">
                  <div class="line">
                    <div class="margin">
                      <div class="s-12 m-12 l-6">
                        <input name="email" class="required email border-radius" placeholder="Your e-mail" title="Your e-mail" type="text" />
                      </div>
                      <div class="s-12 m-12 l-6">
                        <input name="name" class="name border-radius" placeholder="Your name" title="Your name" type="text" />
                      </div>
                    </div>
                  </div>
                  <div class="s-12">
                    <input name="subject" class="subject border-radius" placeholder="Subject" title="Subject" type="text" />
                  </div>
                  <div class="s-12">
                    <textarea name="message" class="required message border-radius" placeholder="Your message" rows="3"></textarea>
                  </div>
                  <div class="s-12 m-12 l-4"><button class="submit-form button background-primary border-radius text-white" type="submit">Submit Button</button></div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </article>
{% endblock content  %}
